@import "./_lib-reset"; // 重置浏览器样式
@import "./_lib-base"; // 针对 UI 设计稿而做的一些样式重置
@import "../font/iconfont.css"; // font 字体
@import "./_diy-elementui"; // 自定义 elementUI 样式
// 公共属性、类名
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  // background: url('../imgs/body-bg.jpg') center no-repeat;
  background-size: cover
}

.chart-top-title {
  height: 76px;
  line-height: 95px;
  font-size: 40px;
  font-weight: 700;
  color: #65ecc3;
  text-align: center;
  letter-spacing: 2px;
}
// 路由类名
.router-active,.router-active:hover {
  color: red;
  text-decoration: underline
}
